.git
.gitignore
.env
.env.*
!.env.default
tmp/
venv/
__pycache__
docker-compose*.yml
Dockerfile
video.mp4
*.md
!README.MD
package-lock.json
midori-vpn-control/
midorivpn-desktop/
midorivpn-extension/
